<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="D:\Git\Instagram-profile-fighting\Styles\fighting_style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Welcome to Instagram Profile Fighting</h1>
        <p>This is a fun game of comparing two instgram users profile</p>
    </div>
    <div class="input_container">
        <div class="player_1">
            <label>Player 1</label>
            <input id="user1" placeholder="Enter Username">
            <button>Search</button>
        </div>
        <div class="player_2">
            <label>Player 2</label>
            <input id="user2" placeholder="Enter Username">
            <button>Search</button>
        </div>
    </div>
    <script src="D:\Git\Instagram-profile-fighting\Scripts\user_search.js"></script>
</body>
</html>