@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Pangolin&family=Poppins&display=swap');

* {
    text-align: center;
    font-family: 'Pangolin', cursive;
    margin: 0;
    padding: 0;
}

.header {
    margin-bottom: 20vh;
}

input {
    text-align: start;
}

body {
    background-image: url("D:/Git/Instagram-profile-fighting/background_img.jpg");
    background-size: 100vw;
}

.input_container {
    display: flex;
}