@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Pangolin&family=Poppins&display=swap');

* {
    text-align: center;
    font-family: 'Pangolin', cursive;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: aqua;
}